<?xml version="1.0"?>
<!--
/**
* Zip_ZipPayment Admin Interface definitions
*
* @category    ZipMoney
* @package     Zip_ZipPayment
* @author      Zip Plugin Team <integrations@zip.co>
* @link        https://zip.co
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="zippayment" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment>
                    <![CDATA[<div class="zipmoney-payment-logo"></div><div class="zipmoney-payment-text">Connect Zip to your Magento checkout to provide customers with a seamless buy now, pay later shopping experience.
                        Seamless Refunds, Daily Settlement, No Fraud Risk, Simple and Ethical Pricing</div>]]>
                </comment>
                <fieldset_css>zipmoney-section</fieldset_css>
                <frontend_model>Zip\ZipPayment\Block\System\Config\Fieldset\Payment</frontend_model>
                <!--  Basic Settings -->
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Zip\ZipPayment\Model\Config\Source\Environment</source_model>
                </field>
                <field id="merchant_public_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="merchant_private_key" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="check_validity" translate="label" type="button" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Zip\ZipPayment\Block\System\Config\HealthCheck</frontend_model>
                </field>
                <field id="widget_region" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region for Widget</label>
                    <source_model>Zip\ZipPayment\Model\Config\Source\Region</source_model>
                </field>
                <field id="enable_tokenisation" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Tokenisation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Tokenisation allows a seamless one-click checkout experience for returning Zip customers, removing the need to redirect and complete a Zip login after their first purchase. (Australia only)]]>
                    </comment>
                    <depends>
                        <field id="*/zippayment/widget_region">au</field>
                    </depends>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Capture Method</label>
                    <source_model>Zip\ZipPayment\Model\Config\Source\PaymentAction</source_model>
                    <comment>Some regions might only support capture method</comment>
                </field>
                <field id="log_settings" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Setting</label>
                    <source_model>Zip\ZipPayment\Model\Config\Source\LogSettings</source_model>
                </field>
                <field id="display_widget_mode" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display Widget Mode</label>
                    <source_model>Zip\ZipPayment\Model\Config\Source\DisplayWidget</source_model>
                </field>
                <field id="incontext_checkout" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>In-Context Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[In-Context (Iframe) Checkout may not work on some browsers. This feature only work for AU region. Other region it will redirect to zip for payment.]]>
                    </comment>
                    <depends>
                        <field id="*/zippayment/widget_region">au</field>
                    </depends>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Value</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Value</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <!--  Widgets and Banners  Settings -->
                <group id="zip_advert" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Marketing Banners Widgets and Banners</label>
                    <group id="homepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Home Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="banner_selector" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Strip Banner Element selector</label>
                            <tooltip>Enter HTML element selector to insert widget in any places</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .sections .nav-sections. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                        <depends>
                            <field id="*/zippayment/widget_region">au</field>
                        </depends>
                    </group>
                    <group id="productpage" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Product Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <depends>
                                <field id="*/zippayment/widget_region">au</field>
                            </depends>
                        </field>
                        <field id="banner_selector" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Strip Banner Element selector</label>
                            <tooltip>Enter HTML element selector to insert widget in any places</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .sections .nav-sections. Keep it empty for displaying in default location.]]>
                            </comment>
                            <depends>
                                <field id="*/zippayment/widget_region">au</field>
                            </depends>
                        </field>
                        <field id="widget" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Widget</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget_selector" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Product Widget Element selector</label>
                            <tooltip>The product widget will break down the price of the item and display a minimum weekly repayment or divide the price by 4 and show the customer an equal price breakdown</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .product-info-price. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                        <field id="tagline" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Tagline</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="tagline_selector" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Tagline Element selector</label>
                            <tooltip>The tagline does not show any price breakdown or minimum repayments. A tagline will show a static message of ‘Own it now, pay later</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .product-options-bottom. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                    </group>
                    <group id="cartpage" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Cart Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <depends>
                                <field id="*/zippayment/widget_region">au</field>
                            </depends>
                        </field>
                        <field id="banner_selector" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Strip Banner Element selector</label>
                            <tooltip>Enter HTML element selector to insert widget in any places</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .sections .nav-sections. Keep it empty for displaying in default location.]]>
                            </comment>
                            <depends>
                                <field id="*/zippayment/widget_region">au</field>
                            </depends>
                        </field>
                        <field id="widget" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Widget</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget_selector" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Cart Widget Element selector</label>
                            <tooltip>The cart widget will break down the price of the item and display a minimum weekly repayment or divide the price by 4 and show the customer an equal price breakdown</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is #cart-totals. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                        <field id="tagline" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Tagline</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="tagline_selector" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Tagline Element selector</label>
                            <tooltip>The tagline does not show any price breakdown or minimum repayments. A tagline will show a static message of ‘Own it now, pay later</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .cart-summary. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                    </group>
                    <group id="categorypage" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Category Page</label>
                        <field id="banner" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Display Strip Banner</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="banner_selector" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Strip Banner Element selector</label>
                            <tooltip>Enter HTML element selector to insert widget in any places</tooltip>
                            <comment>
                                <![CDATA[Example HTML element selector is .sections .nav-sections. Keep it empty for displaying in default location.]]>
                            </comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>