.zip-checkout-description {
  padding-bottom: 20px;
}

.zip-checkout-description  span.zip-checkout-description-text{
  font-weight: bold;
}

.zip-checkout-description #zipmoney-learn-more {
  display: inline !important;
}

.zip-error-message {
  border: 1px solid #3d6611;
  background-color: #eff5ea;
  color: #3d6611;
  padding: 10px 0px 10px 33px;
  margin-top: 20px;
}

.zip-application-under-review-message {
  border: 1px solid #3d6611;
  background-color: #eff5ea;
  color: #3d6611;
  padding: 10px 0px 10px 33px;
  margin-top: 20px;
}